<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goktech.olala.server.dao.customer.CtmGoodsinfosMapper">
  <resultMap id="BaseResultMap" type="com.goktech.olala.server.pojo.customer.CtmGoodsinfos">
    <id column="CATEGORY_ID" jdbcType="INTEGER" property="categoryId" />
    <result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="KEYWORDS" jdbcType="VARCHAR" property="keywords" />
    <result column="CATY_DESC" jdbcType="VARCHAR" property="catyDesc" />
    <result column="SORT_ORL" jdbcType="INTEGER" property="sortOrl" />
    <result column="IS_SHOW_IN_NAV" jdbcType="BIT" property="isShowInNav" />
    <result column="GRADE" jdbcType="TINYINT" property="grade" />
    <result column="FILTER_ATTR" jdbcType="VARCHAR" property="filterAttr" />
    <result column="IS_SHOW" jdbcType="BIT" property="isShow" />
    <result column="IS_ENABLED" jdbcType="BIT" property="isEnabled" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from g_category
    where CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goktech.olala.server.pojo.customer.CtmGoodsinfos">
    insert into g_category (CATEGORY_ID, CATEGORY_NAME, PARENT_ID, 
      KEYWORDS, CATY_DESC, SORT_ORL, 
      IS_SHOW_IN_NAV, GRADE, FILTER_ATTR, 
      IS_SHOW, IS_ENABLED, CREATE_TIME, 
      CREATE_BY, UPDATE_TIME, UPDATE_BY
      )
    values (#{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{keywords,jdbcType=VARCHAR}, #{catyDesc,jdbcType=VARCHAR}, #{sortOrl,jdbcType=INTEGER}, 
      #{isShowInNav,jdbcType=BIT}, #{grade,jdbcType=TINYINT}, #{filterAttr,jdbcType=VARCHAR}, 
      #{isShow,jdbcType=BIT}, #{isEnabled,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.goktech.olala.server.pojo.customer.CtmGoodsinfos">
    update g_category
    set CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      KEYWORDS = #{keywords,jdbcType=VARCHAR},
      CATY_DESC = #{catyDesc,jdbcType=VARCHAR},
      SORT_ORL = #{sortOrl,jdbcType=INTEGER},
      IS_SHOW_IN_NAV = #{isShowInNav,jdbcType=BIT},
      GRADE = #{grade,jdbcType=TINYINT},
      FILTER_ATTR = #{filterAttr,jdbcType=VARCHAR},
      IS_SHOW = #{isShow,jdbcType=BIT},
      IS_ENABLED = #{isEnabled,jdbcType=BIT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
    where CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select CATEGORY_ID, CATEGORY_NAME, PARENT_ID, KEYWORDS, CATY_DESC, SORT_ORL, IS_SHOW_IN_NAV, 
    GRADE, FILTER_ATTR, IS_SHOW, IS_ENABLED, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    from g_category
    where CATEGORY_ID = #{categoryId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="String" resultMap="BaseResultMap">
    select CATEGORY_ID, CATEGORY_NAME, PARENT_ID, KEYWORDS, CATY_DESC, SORT_ORL, IS_SHOW_IN_NAV, 
    GRADE, FILTER_ATTR, IS_SHOW, IS_ENABLED, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    from g_category where CATEGORY_NAME like concat('%',#{name},'%');
  </select>
</mapper>